@tailwind base;
@tailwind components;
@tailwind utilities;

.description {
    @apply leading-6 text-[16px] flex flex-col gap-6;
}

.description > ul {
    @apply list-disc pl-6;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}
